* , * + * , *::before , *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.50%;
  font: 1.35rem 'Noto Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

br {
  clear: both;
}

a {
  color: #4d394b;
  font-size: .85rem;
  text-decoration: none;
}
a:hover {
  opacity: .7;
}

/* modifiers and global elements */

.ba {
  border: 1px solid gray;
}

.-btn {
  background: white;
  border: solid gray;
  border-width: 1.5px;
  border-radius: .2rem;
  cursor: pointer;
  padding: .35rem;
}
.-btn:hover {
  opacity: .8;
}
.-btn_i {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  vertical-align: middle;
}
.-btn_i:hover {
  opacity: .7;
}

.fr {
  float: right;
}

.-itxt {
  border: solid gray;
  padding: .35rem;
}
.-itxt:focus {
  outline-color: black;
}
.-itxtarea {
  border: solid gray;
  padding: .35rem;
  width: 80%;
  white-space: pre-wrap;
}
.-itxtarea:focus {
  outline-color: black;
}
/* component style */

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.content {
  /* height: 100%; */
  background-color: white;
  width: 100%;
}
.content .-header {
  margin-left: .5rem;
  margin-right: .5rem;
  vertical-align: middle;
}
.content .-form {
  margin-bottom: .5rem;
  padding: .5rem;
}
.content .-list {
  padding: .25rem;
}

.ctrl- .-add {
  margin-left: .5rem;
  margin-right: .5rem;
  width: 45%;
}
.ctrl- .-search {
  margin-left: 1.3rem;
  margin-right: .2rem;
}

.dsply- .-item {
  vertical-align: middle;
  margin: .1rem .25rem;
  padding: .35rem .7rem;
  top: 0;
}
.dsply- .-item:hover {
  background-color: #f9f9f9;
}
.dsply- .-item .-hidden {
  display: none;
}
.dsply- .-remove {
  float: right;
}

.dsply- .-desc {
  background-color: #f9f9f9;
}
.dsply- .-desc .-describe {
  display: none;
}
.dsply- .-desc_input {
  width: 100%;
}
.-desc_span {
  white-space: pre-wrap;
}

.menu {
  background-color: #4d394b;
  color: white;
  height: 100%;
  width: 12.5rem;
  padding: 1rem;
}

.menu .-header {
  cursor: pointer;
}